<div class="login-wrapper columns">
  <div class="column is-8 is-hidden-mobile hero-banner">
    <section class="hero is-fullheight is-dark">
      <div class="hero-body">
        <div class="container section">
          <div class="has-text-right">
            <h1 class="title is-1">Login</h1> <br>
            <p class="title is-3">in Citizen Square</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <form class="column is-4" [formGroup]="f">
    <pre>DEBUG : {{f.controls['email']?.errors | json}}</pre>
    <pre>DEBUG : {{f.controls['password']?.errors | json}}</pre>
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-8 is-offset-2">
              <div class="login-form">
                <p class="control has-icon has-icon-right">
                  <input class="input email-input"
                         [class.is-danger]="f.controls['email']?.errors?.email"
                         type="text"
                         placeholder="jsmith@example.org"
                         formControlName="email">
                  <span class="icon user">
                      <i class="fa fa-user"></i>
                    </span>
                </p>
                <p *ngIf="f.controls['email']?.errors?.email"
                   class="help is-danger">
                  This email is invalid
                </p>
                <p class="control has-icon has-icon-right">
                  <input class="input password-input"
                         [class.is-danger]="f.controls['password']?.errors?.password"
                         type="password"
                         placeholder="●●●●●●●"
                         formControlName="password">
                  <span class="icon user">
                      <i class="fa fa-lock"></i>
                    </span>
                </p>
                <p *ngIf="f.controls['password']?.errors?.minlength || f.controls['password']?.errors?.maxlength"
                   class="help is-danger">
                  This password should be between 4 and 20
                </p>

                <p class="control login">
                  <button class="button is-success is-outlined is-large is-fullwidth"
                          [disabled]="f.invalid"
                          (click)="login(f.getRawValue())">
                    Login
                  </button>
                </p>
              </div>
              <div class="section forgot-password">
                <p class="has-text-centered">
                  <a [routerLink]="['../register']">Register</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>
